#task-form {
    height: 200px;
    width: 300px;
    border: 3px outset gray;
    background: white;
    top: 20%;
    right: 0;
    left: 0;
    font-size: 14px;
    margin: 0 auto;
    z-index:2;
    display: none;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
}

#shadow {
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    background:#000;
    display: none;
    opacity: 0.5;
    left:0;
    top:0;
}

a.task-link {
    padding: 0px 20px;
}